/********** Base styles **********/
 	*{
  	box-sizing: border-box;
  	margin: 0;
}
h1 {
	font-size: 30px;
	font-family: Verdana;
	margin-top: 10px;
	font-weight: bold;
}
#header-nav {
	background-color: #909090 !important;
}
.nav-logo {
	font-size: 150%;
	margin-left: 20px;
	color: black;
	font-family: Verdana;
}
.nav-logo:hover {
	color: black;
}
.nav-dropdown-menu {
	background-color: #e6e6e6;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}
.nav-dropdown-menu-item {
	border-color: black;
	border-width: 1px;
	border-style: solid;
}
.main-paragraph1 {
	background-color: #e6e6e6;
	padding: 2%;
}
.main-paragraph2{
	background-color: #e6e6e6;
	padding: 2%;
}
.main-paragraph3{
	background-color: #e6e6e6;
	padding: 2%;
}
h3 {
	font-size: 120%;
	font-family: Verdana;
	font-weight: bold
}
.text-length {
	height: 700px;
}
.section-header {
	height: 500px;
}